{% extends 'base.html' %}

{% block content %}
<body>
    {% include 'navbar.html' %}

    <!-- Main Content -->
    <div class="container">
        <h1>{{ election.title }}</h1>
        {% for candidate in candidates %}
        
        <div class="candidate">
            <img src="candidate1.jpg" alt="Candidate Picture" class="candidate-img">
            <div class="candidate-info">
                <h2>{{ candidate.name }}</h2>
                <p><strong>Department:</strong> {{ candidate.department }}</p>
                <p><strong>Faculty:</strong> {{ candidate.faculty }}</p>
                <p class="bio"><strong>Bio:</strong> {{ candidate.bio }} </p>
            </div>
            <form class="vote-form">
                <button type="submit" class="vote-btn">Vote for {{ candidate.name}}</button>
            </form>
        </div>
        {% empty %}
        No candidate
        {% endfor %}

        
    </div>

    {% include 'footer.html' %}
</body>
</html>
{% endblock %}